@tailwind base;
@tailwind components;
@tailwind utilities;

.link-color {
	color: #1976d2;
}
.scroll::-webkit-scrollbar {
	max-width: 0.324rem;
	max-height: 0.324rem;
}

.scroll::-webkit-scrollbar-thumb {
	background-color: #bdbdbd;
	border-radius: 5px;
}

.thin-scroll::-webkit-scrollbar {
	max-width: 0.1rem;
	max-height: 0.1rem;
}
.thin-scroll::-webkit-scrollbar-thumb {
	background-color: #bdbdbd;
	border-radius: 5px;
}
